<!DOCTYPE html>
<html>
  <head>
    <title>Model Page</title>
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <div class="product-banner product">
          <div>
            <div>{{modelPageHeader.heading}}</div>
          </div>
          <div>
            <div></div>
          </div>
          <div>
            <div>{{modelPageHeader.description}}</div>
          </div>
          <div>
            <div>
              <picture>
                <img loading="lazy" alt="" src="{{modelPageHeader.image}}" width="366" height="170">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="series-card">
          <div>
            <div>
              <picture>
                <img src="{{heroImage}}" alt="">
              </picture>
            </div>
          </div>
          <div>
            <div>{{modelName}}</div>
          </div>
          <div>
            <div><a href="{{series.link}}">{{series.name}}</a></div>
          </div>
          <div>
            <div>{{description}}</div>
          </div>
          <div>
            <div>
              <table>
                <tbody>
                  {{#each specs}}
                  {{#each items}}
                  <tr>
                    {{#if @first}}
                    <td rowspan="{{../items.length}}">{{../category}}</td>
                    {{/if}}
                    <td>{{key}}</td>
                    <td>
                      <ul>
                        {{#each text}}
                        <li>{{{this}}}</li>
                        {{/each}}
                      </ul>
                    </td>
                  </tr>
                  {{/each}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <div><a href="{{downloadLink.url}}">{{downloadLink.text}}</a></div>
          </div>
        </div>
        <div class="section-metadata">
          <div>
            <div>style</div>
            <div>pdp-container</div>
          </div>
        </div>
      </div>
      <pre>{{json}}</pre>
    </main>
    <footer></footer>
  </body>
</html>
