<!DOCTYPE html>
<html>
  <head>
    <title>Series Page</title>
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <div class="product-banner">
          <div>
            <div>{{banner.heading}}</div>
          </div>
          <div>
            <div>{{banner.description}}</div>
          </div>
          <div>
            <div></div>
          </div>
        </div>
        <div class="product-viewer">
          <div>
            <div>
              <p>Features and advantages</p>
              <ul>
                {{#each features}}
                <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
          <div>
            <div>
              <ul>
                {{#each images}}
                <li>
                  <picture>
                    <img src="{{this}}" alt="">
                  </picture>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
          {{#if certifications.length}}
          <div>
            <div>Certification</div>
          </div>
          <div>
            <div>
              <ul>
                {{#each certifications}}
                <li>
                  <picture>
                    <img src="{{this}}" alt="">
                  </picture>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
      <div>
        <div class="page-navigation">
          <div>
            <div><a href="#product-overview">#product-overview</a></div>
            <div>Overview</div>
            <div></div>
          </div>
          <div>
            <div><a href="#product-specification">#product-specification</a></div>
            <div>Specification</div>
            <div></div>
          </div>
          <div>
            <div><a href="#product-resource">#product-resource</a></div>
            <div>Resource</div>
            <div></div>
          </div>
          <div>
            <div><a href="#product-model">#product-model</a></div>
            <div>Model</div>
            <div></div>
          </div>
        </div>
      </div>
      <div>
        <div class="product-overview">
          <div>
            <div>Overview</div>
          </div>
          <div>
            <div>
              {{#each overview}}
              <h3><strong>{{heading}}</strong></h3>
              {{#each text}}
              <p>{{this}}</p>
              {{/each}}
              {{/each}}
            </div>
          </div>
          <div>
            <div>Download product information sheet</div>
          </div>
          <div>
            <div>Print this page</div>
          </div>
          <div>
            <div>Save to My Moxa</div>
          </div>
        </div>
        <div class="section-metadata">
          <div>
            <div>style</div>
            <div>pdp-container</div>
          </div>
        </div>
      </div>
      <div>
        <div class="product-specification">
          {{#each specs}}
          <div>
            <div>{{category}}</div>
            <div>
              <table>
                <tbody>
                  {{#each items}}
                  <tr>
                    <td>{{key}}</td>
                    <td>
                      <ul>
                        {{#each text}}
                        <li>{{{this}}}</li>
                        {{/each}}
                      </ul>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          {{/each}}
        </div>
        <div class="section-metadata">
          <div>
            <div>style</div>
            <div>pdp-container</div>
          </div>
        </div>
      </div>
      {{#if resources.length}}
      <div>
        <div class="product-resource">
          <div>
            <div>Resources</div>
            <div>
              <table>
                <tbody>
                  <tr>
                    <td>NAME</td>
                    <td>TYPE</td>
                    <td>VERSION</td>
                    <td>RELEASE DATE</td>
                  </tr>
                  {{#each resources}}
                  <tr>
                    <td><a href="{{assetLink}}">{{name}}</a></td>
                    <td>{{type}}</td>
                    <td>{{version}}</td>
                    <td>{{releaseDate}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="section-metadata">
          <div>
            <div>style</div>
            <div>pdp-container</div>
          </div>
        </div>
      </div>
      {{/if}}
      {{#if modelComparison.totalModels}}
      <div>
        <div class="product-model">
          <div>
            <div>Available models ({{modelComparison.totalModels}})</div>
          </div>
          <div>
            <div>
              <table>
                <tbody>
                  <tr>
                    <td></td>
                    {{#each modelComparison.columns}}
                    <td><a href="{{#if link}}{{link}}{{else}}#{{/if}}">{{modelName}}</a></td>
                    {{/each}}
                  </tr>
                  {{#each modelComparison.rows}}
                  <tr>
                    <td>{{key}}</td>
                    {{#each values}}
                    <td>{{this}}</td>
                    {{/each}}
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="section-metadata">
          <div>
            <div>style</div>
            <div>pdp-container</div>
          </div>
        </div>
      </div>
      {{/if}}
      <pre>{{json}}</pre>
    </main>
    <footer></footer>
  </body>
</html>
